@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: "Press Start 2P", cursive;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease-in-out;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
.list-move {
  transition: transform 0.5s ease-in-out;
}
